<body class="landing-body">
    <div class="container">
        <div class="row center">
            <%= image_tag "jitter_logo.png", class: "responsive-img landing-logo"%>
            <h1 class="white-text">Welcome Back</h1>
        </div>
        <div class="container">
            <%= form_for sessions_path do |f| %>
            <div class="row center user-form">
                <%= f.label :email %>
                <%= f.text_field :email%>
                <%= f.label :password %>
                <%= f.password_field :password%>
            </div>
            <div class="row center">
                <%= f.submit "Log In", class: "btn-large" %>
            </div>
            <% end %>
               <div class="row center">
                <%= link_to '/auth/google_oauth2', class: 'btn-large' do%>
                   <i class="fab fa-google" style="margin-right: 10px;"></i> <b>Login With Google</b>
                <% end %>
            </div>
           
        </div>
    </div>
</body>
