<div class="form-group">
  <%= form_for @search, html: { class: "w-full search-bar-container", data: { turbo: false } } do |f| %>
    <div class="search-bar">
      <i class="material-icons search-icon" aria-hidden="true">search</i>

      <%= f.search_field :query,
                         placeholder: t('views.searches.placeholder'),
                         required: true,
                         class: "search-input" %>

      <%= link_to new_search_path,
                  method: :get,
                  class: "clear-button",
                  data: { turbo_frame: dom_id(@search) },
                  aria: { label: t('views.searches.clear', default: 'Clear') } do %>
        <i class="material-icons">clear</i>
      <% end %>

      <div data-controller="geolocation">
        <button type="button" class="search-button" data-action="geolocation#geolocate">
          <i class="material-icons">my_location</i>
        </button>

        <%= f.hidden_field :latitude, "data-geolocation-target": 'latitude' %>
        <%= f.hidden_field :longitude,  "data-geolocation-target": 'longitude' %>
      </div>

      <%= f.button :submit, class: "search-button" do %>
        <%= t('views.searches.submit', default: 'Search').strip %>
      <% end %>
    </div>
  <% end %>
</div>
