<body class="landing-body">
    <div class="container page-container">
        <% if flash[:error] %>
        <span class="page-text"><%= flash[:error] %></span>
        <% end %>

        <div class="row center">
            <%= render 'searches/form' %>
        </div>

        <% if @search.query %>

        <div class="search-results ">
            <%= turbo_stream_from "searches" %>
            <%= turbo_frame_tag "search_form" do %>
                <%= render partial: 'searches/results', locals: {search: @search} %>
            <% end %>
        </div>

        <% end %>
    </div>

 </body>
