<% content_for :body_class, 'search-results-body' %>
<div class="container mx-auto px-4 py-8">
  <% if flash[:error] %>
    <div class="text-center mb-6">
      <span class="page-text" style="color: var(--color-text);">
        <%= flash[:error] %>
      </span>
    </div>
  <% end %>

<%# may replace this with https://codepen.io/sumeshkp18/pen/VGBPYg  %>
<%# https://pickerwheel.com/embed-tutorial/ %>
<% if @search&.query && current_user&.present? && Flipper.enabled?(:decision_wheel, current_user) %>
    <%= render partial: 'searches/picker_wheel' %>
<% end %>

  <% if @search.query %>
     <div class="search-results">
          <%= turbo_stream_from 'searches' %>
          <%= turbo_frame_tag 'search_form' do %>
              <%= render partial: 'searches/results', locals: {search: @search} %>
          <% end %>
     </div>
  <% end %>
</div>
