<body class="landing-body">
    <div class="container page-container">
    <% if flash[:error] %>
    <span class="page-text"><%= flash[:error] %></span>
    <% end %>
        <div class="row center">
            <h1 class="flow-text"> Hello, <%= current_user.name %>!   </h1>
            <span class="page-text"> Search for coffeeshops near you.</span>
        </div>
        <div class="row center">
            <%= render 'form' %>
        </div>
    </div> 
</body>

<div>
    <% if @search.query %>  
    <div class="search-results">
        <div class="row center">
            <h1 class="black-text">Top Rated Coffeeshops in <%= @search.query %></h1>
        </div>
        <%= render partial: 'searches/results', locals: {search: @search} %>
    </div>
    <% end %>
    
 </div>