<%= turbo_frame_tag review do %>
    <div class="row center">
        <span class="page-text"><i class="material-icons">person</i> <%= review.user.name %></span>
    </div>
    <div class="row center">
        <span class="page-text"><%= review.rating_in_stars %></span>
    </div>
    <div class="row center">
        <span class="page-text">"<%= review.content %>"</span>
    </div>
    <% if review.user == current_user %>
        <div class="row center">
            <div class="col s6">
                <%= link_to t('.edit-this-revie-0'), edit_user_review_path(current_user, review), class: 'btn-small' %>
            </div>
            <div class="col s6">
                <%= link_to t('.delete-this-rev'), user_review_path(current_user, review), class: 'btn-small', data: { turbo_method: :delete } %>
            </div>
        </div>
    <% end %>

<% end %>
