<div class="col xl l6 m12 s12">
    <div class="card large coffeeshop-card">
        <div class="card-image">
            <%= image_tag coffeeshop.image_url, class: "card-img responsive-img" %>
        </div>
        <div class="card-content">
            <div class="card-action row center">
                <%= link_to "More Info" , coffeeshop_path(coffeeshop), data: { turbo: false }, class: "btn-small" %>
            </div>
            <span class="truncate card-title">
                <%= coffeeshop.name %>
            </span>
            <div class="row center">
            <address>
                <a class="truncate"> <i class="material-icons">place</i>
                    <%= coffeeshop.address %>
                </a>
                <a class="tel"> <i class="material-icons">phone</i>
                    <%= coffeeshop.phone_number %>
                </a>
            </address>
            </div>
        </div>
    </div>
</div>