<div class="col xl l6 m12 s12">
  <div class="card large coffeeshop-card">
    <div class="card-image">
      <p><%= image_tag coffeeshop.large_image_url, class: 'card-img responsive-img' %></p>
    </div>

    <div class="card-content row">
      <span class="card-title coffeeshop-card__header">
        <p class="center page-text coffeeshop-card__name">
          <%= link_to coffeeshop.name, coffeeshop_path(coffeeshop), data: { turbo: false } %>
        </p>

        <p class="center coffeeshop-card__actions">
          <%= link_to t('.more-info'), coffeeshop_path(coffeeshop), data: { turbo: false }, class: 'btn-small' %>
          <%= link_to 'Open in Yelp', coffeeshop.yelp_url, target: :blank, rel: 'noopener', class: 'btn-small' %>
        </p>

        <% if logged_in? %>
          <div class="center coffeeshop-card__favorite">
            <%= turbo_frame_tag dom_id(coffeeshop, "favorite") do %>
              <%= render "favorites/button",
                    item:  coffeeshop,
                    icon:  favorite_icon_for(local_assigns[:search_query]),
                    liked: current_user.favorited?(coffeeshop),
                    search_query: local_assigns[:search_query] %>
            <% end %>
          </div>
        <% end %>
      </span>
    </div>

    <div class="card-content row">
      <span class="coffeeshop-card__meta">
        <address class="card-action coffeeshop-card__contact-list">
          <%= link_to "https://www.google.com/maps/search/?api=1&query=#{coffeeshop.google_address_slug}",
                       target: :blank,
                       rel: 'noopener',
                       class: 'coffeeshop-card__contact-item' do %>
            <i class="material-icons">place</i>
            <span class="truncate"><%= coffeeshop.address %></span>
          <% end %>

          <%= link_to "tel:#{number_to_phone(coffeeshop.phone_number, area_code: true)}",
                       class: 'coffeeshop-card__contact-item' do %>
            <i class="material-icons">phone</i>
            <span class="truncate"><%= number_to_phone(coffeeshop.phone_number, area_code: true) %></span>
          <% end %>
        </address>
      </span>
    </div>
    <!-- .card-content -->
  </div>
  <!-- .card -->
</div>
<!-- .col -->
