<body class="landing-body">
    <div class="container page-container">
    <% if flash[:errror] %>
        <span class="page-text red-text"><%= flash[:error] %></span>
    <% end %>
        <div class="row center">
            <h1 class="page-name"><%= @coffeeshop.name %></h1>
        </div>
         <div class="row center">
            <%= render partial: 'rating', locals: {rating: @coffeeshop.rating} %>
        </div>
        <div class="row">
            <div class="col s12 l6">
                <%= image_tag @coffeeshop.image_url, class: "card-img responsive-img  shop-image z-depth-2" %>
            </div>
            <!-- Coffeeshop Info -->
            <div class="col s12 l6">
            <div class="shop-info z-depth-1">
                <div class="row">
                  <span class="page-text"><i class="material-icons">place</i><%= link_to "#{@coffeeshop.address}", "http://maps.google.com/?=#{@coffeeshop.address}", target: :blank  %></span>
                </div>
                <div class="row">
                  <span class="page-text"><i class="material-icons">phone</i> <%= @coffeeshop.phone_number %></span>
                </div>
                <div class="row">
                    <span class="page-text"><i class="material-icons">add</i><%= @coffeeshop.user_favorites.size %> users have favorited this spot.</span>
                </div>
                <div class="row">
                    <span class="page-text"><i class="fab fa-yelp" style="margin-right: 10px;"></i>  <%= link_to "View on Yelp", @coffeeshop.yelp_url%></span>
                </div>  
            </div>
                <br><br>
                <!-- Add to user favorites -->
                <div class="row center">
                    <% if !logged_in? %>
                        <span class="page-text"> <%= link_to "Login to add this shop to your favorites!", login_path %></span>
                    <% elsif current_user.favorite?(@coffeeshop) %>
                        <%= form_tag user_favorite_path, method: 'delete' do %>
                            <%= hidden_field_tag :coffeeshop_id, @coffeeshop.id %>
                            <%= submit_tag "Remove from my favorites.", class: "btn-large"%>
                        <% end %>
                    <% else %>
                        <%= form_tag user_favorites_path do %>
                            <%= hidden_field_tag :coffeeshop_id, @coffeeshop.id %>
                            <%= submit_tag "Add to my favorites.", class: "btn-large"%>
                        <% end %>
                    <% end %>
                </div>
            </div> 
        </div>
        <br><br>
                <!-- Reviews Section -->
       
        <div class="row center">
            <% if @coffeeshop.reviews.empty? %>
            <div class="row center">
                <span class="page-text red-text">This coffeeshop doesn't have any reviews yet!</span>
            </div>
            <% else %>
            <div class="row center">
                <span class="page-text">Reviews:</span>
            </div>
                <% @coffeeshop.reviews.each do |review| %>
                    <div class="container review-container z-depth-1">
                        <%= render partial: 'reviews/show', locals: {review: review} %>
                    </div>
                    <% end %>
            <% end %>
             <% if !logged_in? %>
                  <span class="page-text red-text">You must be <%= link_to 'logged in', login_path %> to leave a review!</span>
            <% else %>
            <div class="row center">
                <div class="container review-container z-depth-1"> 
                    <%= render partial: "reviews/form", locals: {coffeeshop: @coffeeshop} %>
                </div>
            </div>
            <% end %>
             </div> 
        </div>
    </div>  
</body>
