<%# https://materializecss.com/navbar.html %>
 <div class="navbar-fixed">
   <nav class="transparentBG">
    <div class="nav-wrapper dark:bg-slate-900 dark:text-white">
      <a href="" data-target="mobile-demo" class="left sidenav-trigger"><i class="material-icons">menu</i></a>

      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li class="text-red-400"><%= Flipper[:early_access_preview].enabled? ? t('earlyaccess'): t('.coming-soon-sig') %></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <%# button_to for Logout still because of a turbo issue  %>
        <li><%= button_to t('.logout'), logout_path, method: :delete %></li>
        <li><%= link_to t('.my-profile'), user_path(current_user), method: :get %></li>
        <li><%= link_to t('views.searches.new'), new_search_path, method: :get %></li>
      </ul>
    </div>
  </nav>
 </div>
 <div class="sidenav dark:bg-slate-900 dark:text-white" id="mobile-demo">
   <ul>
    <li>
      <div class="background"></div>
      <div class="user-view">
              <h6 class="white-text">  <i class="tiny material-icons nav-icon">person</i><%= current_user.name %></h6>
              <span class="white-text"><i class="tiny material-icons nav-icon">email</i><%= current_user.email %></span>
      </div>
      </li>
      <%# button_to for Logout still because of a turbo issue  %>
      <li><%= button_to sessions_path, method: :delete  do %>
          <i class="small material-icons">exit_to_app</i> Logout
          <% end %>
      </li>
      <%# be careful turbo false is here to prevent breaking the slide-nav %>
      <li><p class="dark:bg-slate-900 dark:text-white"><%= link_to user_path(current_user), data: { turbo: false} do %>
            <i class="small material-icons">person</i> My Profile
            <% end %>
           </p>
      </li>
      <%# be careful turbo false is here to prevent breaking the slide-nav %>
      <li><p class="dark:bg-slate-900 dark:text-white"><%= link_to new_search_path, data: { turbo: false}  do %>
             <i class="small material-icons">search</i>New Search
             <% end %>
          </p>
      </li>
    </ul>
  </div>
