<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="dark:bg-slate-900 dark:text-white" dir="<%= t('dir') %>">
  <head>
    <title>Jitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQK9qLdTjVEUla+tvCa99p5dgm3eMzLmvoIwvXTKWmqtiLcQc95A/4VBBQKLJRIb//wVe0l8T+UEZCcwXJlUg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <%# https://github.com/bullet-train-co/magic_test %>
    <%= render 'magic_test/support', "data-turbo-track": 'reload'  if !ENV['MAGIC_TEST'].nil? && Rails.env.test? %>
    <%= stylesheet_link_tag 'tailwind', "data-turbo-track": 'reload' %>
    <%= stylesheet_link_tag 'application', "data-turbo-track": 'reload' %>
    <script data-turbo-track="reload" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
    <%= javascript_importmap_tags %>
  </head>
  <body class="<%= content_for?(:body_class) ? yield(:body_class) : '' %>"
        data-controller="theme">
    <!-- Theme Toggle -->
    <button
      data-theme-target="button"
      data-action="click->theme#toggle"
      class="fixed top-4 right-4 z-50 p-3 rounded-full shadow-lg transition-all hover:scale-110"
      aria-label="Toggle theme"
      style="position: fixed; top: 1rem; right: 1rem; z-index: 50;">
      <i data-theme-target="icon" class="material-icons" style="font-size: 20px;">dark_mode</i>
    </button>

  <% if logged_in? %>
    <%= render 'layouts/navbar' %>
  <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
