<!DOCTYPE html>
<html>
  <head>
    <title>Jitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Righteous&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/27310f71ef.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if logged_in? %>
  <nav class="transparentBG">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><%= image_tag "jitter_logo.png", class: "nav-logo"%></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Logout", sessions_path, method: :delete %></li>
        <li><%= link_to "My Profile", user_path(current_user) %></li>
        <li><%= link_to "Search", search_path %></li>
      </ul>
    </div>
  </nav>
  <% end %>

  <body>
    <div>
      <%= yield %>
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </body>
</html>
