<!DOCTYPE html>
<html>
  <head>
    <title>Jitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# https://github.com/bullet-train-co/magic_test %>
    <%= render 'magic_test/support', "data-turbo-track": "reload"  if !!ENV['MAGIC_TEST'] && Rails.env.test? %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>


  <body>
  <% if logged_in? %>
 <div class="navbar-fixed">
   <nav class="transparentBG">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><%= image_tag "jitter_logo.png", class: "nav-logo"%></a>
      <a href="#" data-target="mobile-demo" class="right sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= button_to "Logout", logout_path, method: :delete %></li>
        <li><%= link_to "My Profile", user_path(current_user) %></li>
        <li><%= link_to "Search", new_search_path %></li>
      </ul>
    </div>
  </nav>
 </div>
   <ul class="sidenav" id="mobile-demo">
    <li>
      <div class="background" ></div>
      <div class="user-view"style="background-color:#373737">
              <h6 class="white-text">  <i class="tiny material-icons nav-icon">person</i><%=current_user.name%></h6>
              <span class= "white-text"><i class="tiny material-icons nav-icon">email</i><%=current_user.email%></span>
      </div>
      </li>
      <li><%= link_to sessions_path, method: :delete  do%>
          <i class="small material-icons">exit_to_app</i> Logout
          <% end %>
      </li>
      <li><%= link_to current_user do%>
            <i class="small material-icons">person</i> My Profile
            <% end %>
      </li>
      <li><%= link_to  new_search_path do%>
             <i class="small material-icons">search</i> Search
             <% end %>
      </li>
  </ul>

  <% end %>

    <%= yield %>
  </body>
</html>
