<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="dark:bg-slate-900 dark:text-white" dir="<%= t('dir') %>">
  <head>
    <title>Jitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Righteous&display=swap" rel="stylesheet">
    <%# https://github.com/bullet-train-co/magic_test %>
    <%= render 'magic_test/support', "data-turbo-track": 'reload'  if !ENV['MAGIC_TEST'].nil? && Rails.env.test? %>
    <%= stylesheet_link_tag 'tailwind', "data-turbo-track": 'reload' %>
    <%= stylesheet_link_tag 'application', "data-turbo-track": 'reload' %>
    <script data-turbo-track="reload" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
    <%= javascript_importmap_tags %>
  </head>
  <body>
  <% if logged_in? %>
    <%= render 'layouts/navbar' %>
  <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
